__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
.pixi/
.env
.streamlit/
.ruff_cache/
.pytest_cache/
.mypy_cache/
.DS_Store

runs/
refs/
results/
logs/
sample_sheet/
*.log

Mod_MEMO.txt
MEMO.txt
*.fastq
*.fastq.gz
*.swp要件定義書v010.md
Mod_MEMO.txt
要件定義書v010.md
