__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
.pixi/
.env
.streamlit/
.ruff_cache/
.pytest_cache/
.mypy_cache/
.DS_Store

runs/
refs/
results/
logs/
sample_sheet/
*.log

MEMO.txt
*.fastq
*.fastq.gz
*.swpMod_MEMO.txt
